.App {
  
  /* background-image: url("./assets/images/8.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed; */
 margin: 0 auto;
 width: 50%;
}

@media screen and (max-width: 1408px) and (min-width: 1172px) {
  .App {
    width: 60%;
  }
}
@media screen and (max-width: 1172px) and (min-width: 1006px) {
  .App {
    width: 70%;
  }
}
@media screen and (max-width: 1006px) and (min-width: 880px) {
  .App {
    width: 80%;
  }
}
@media screen and (max-width: 880px){
  .App {
    width: 95%;
  }
}
.App-logo {
 
}


.App-header {
  
}
