.App {
  
  /* background-image: url("./assets/images/8.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed; */
 margin: 0 auto;
 width: 60%;
}

.App-logo {
 
}


.App-header {
  
}
