.cv {
  width: 50%;
  margin: 0 auto;
  
  padding: 2em 0;
 
}
.cv-shadow {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 40px rgba(0, 0, 0, 0.12);
  display: flex;
}
.back-cv {
  width: 1.5em;
  height: 1.5em;
  background-image: url("./assets/images/left-arrow.svg");
  background-size: cover;
  padding: 0;
  opacity: 0.8;
  cursor: pointer;
  display: flex;
}
.top-nav-back {
  display: flex;
  margin-bottom: -1em;
  margin-top: 0.4em;
}

.up-cv {
  width: 1.5em;
  height: 1.5em;
  background-image: url("./assets/images/upcv2.svg");
  background-size: cover;
  padding: 0;
}
.back-cv:hover {
  opacity: 1;


}

.cv-left p {
  margin-top: 0;
}
.cv-left {
  background-color: rgba(240, 236, 248, 0.9); 
  width: 70%;
  text-align: justify;
 border-right: 2px solid rgba(244, 4, 156, 0.2);
}
.cv-left h2 {
  color: rgba(244, 4, 156, 0.89);
}
.cv-left-inside {
  width: 96%;
  margin: 0 auto;
}
.left-marg {
  margin-left: 1.5em;
}
.cv-pic {
  height: 13em;
 
  background-image: url("./assets/images/jurr1234567.png");
  background-position: center;
  background-size: contain;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-color: transparent;
  
  
}
.cv-right {
  width: 30%;
  /* background-color: rgba(227, 221, 240, 0.863);  */
  background-color: rgba(240, 236, 248, 0.9);
  
  
}
.first {
  padding-top: 1.5em;
  margin-top: 0;
}

.cv-right-info {
 width: 96%;
 margin: 0 auto;
 /* border-left: 2px solid rgba(244, 4, 156, 0.2);
 border-bottom: 2px solid rgba(244, 4, 156, 0.2);
 border-top: 2px solid rgba(244, 4, 156, 0.2); */
}
.cv-left h1 {
  color: rgb(94, 71, 139);
}
.para {
  text-align: center;
  color: rgba(244, 4, 156, 0.89);
}

.down-nav {
  display: flex;
  justify-content: space-between;
}

/* .cv-right-info h4 {
  margin: 0em;
  padding-top: 1.2em ;
} */
@media screen and (max-width: 1408px) and (min-width: 1172px) {
  .cv {
    width: 60%;
  }
}
@media screen and (max-width: 1172px) and (min-width: 1006px) {
  .cv {
    width: 70%;
  }
}
@media screen and (max-width: 1006px) and (min-width: 880px) {
  .cv {
    width: 80%;
  }
}
@media screen and (max-width: 880px){
  .cv {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .cv-shadow {
    flex-wrap: wrap-reverse;
  }
  .cv-left {
    width: 100%;
    border-right: none;
  }
  .cv-right{
    width: 100%;
    
  }
  .left-marg {
    margin-left: 0em;
    text-align: center;
  }
  .cv-left h1 {
    display: none;
  }
  .cv-right h1 {
    color: rgb(94, 71, 139);
    text-align: center;
  }
  .top-cv {
    display: none;
   
  }
  .cv {
    padding-top: 0em;
  }
  .top-cv-mobile {
    margin-left: 0.5em;
    margin-top: 0.3em;
  }
  
  
}
@media screen and (min-width: 700px) {
  .cv-right h1 {
    display: none;
  }
  .up-cv {
    display: none;
  }
  .top-cv-mobile {
    display: none;
  }
}

