.cv {
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding: 2em 0;
 
}
.cv-left p {
  margin-top: 0;
}
.cv-left {
  background-color: rgba(227, 221, 240, 0.863); 
  width: 70%;
  border: 2px solid black;
 
}
.cv-pic {
  height: 13em;
  background-image: url("./assets/images/jurr1234567.png");
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  border: 2px solid black;
  
  
}
.cv-right {
  width: 30%;
  border: 2px solid black;
  
}
