.social {
  height: 6em;
  /* box-shadow:
  0 2.8px 0.2px rgba(0, 0, 0, 0.034),
  0 6.7px 0.3px rgba(0, 0, 0, 0.048),
  0 1.5px 1px rgba(0, 0, 0, 0.06),
  0 2.3px 1.9px rgba(0, 0, 0, 0.072),
  0 4.8px 3.4px rgba(0, 0, 0, 0.086),
  0 10px 8px rgba(0, 0, 0, 0.12); */
  border-radius: 1%;
display: flex;
justify-content: center;
align-items: center;
width: 50%;
margin: 0 auto;

}

@media screen and (min-width: 2100px) {
  .social {
    width: 60%;
    justify-content: space-around;
  }
}

.social button {
  width: 3em;
  height: 3em;
  background-image: url("./assets/images/applicant2.svg");
  background-size: cover;
  outline: none;
  border: none;
  background-color: inherit;
  transition: ease-out 0.3s;
  cursor: pointer;
}

.social button:hover { 
  background-image: url("./assets/images/applicant.svg");
  transition: 0.3s;
}

.social-icons {
  margin: 0 1em;
  color:rgba(244, 4, 156, 0.4) ;
  transition: ease 0.5s;
}
@media screen and (max-width: 500px) {
  .social-icons {
    margin: 0 0.5em;
  }
}


@media screen and (min-width: 760px) {
  .social-icons:hover {
     color: rgba(244, 4, 156, 0.8) ; 
     transform: translateY(-2px);
     transition: 0.3s;
     
  }
}

@media screen and (max-width: 760px) {
    .social-icons {
      color: rgba(81, 85, 107, 0.658);
    }
}
/* rgba(81, 85, 107, 0.5)  dark */
/* rgb(205, 165, 243)  purple light*/
/* rgba(187, 135, 235, 0.8) purple deep */
/* rgba(244, 4, 156,0.5)   pink */