.projects {

}
.project-header {
 
 margin: 0 auto;
 
}

.project-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.cont {
  width: 20em;
  box-shadow:
  0 2.8px 0.2px rgba(0, 0, 0, 0.034),
  0 6.7px 0.3px rgba(0, 0, 0, 0.048),
  0 1.5px 1px rgba(0, 0, 0, 0.06),
  0 2.3px 1.9px rgba(0, 0, 0, 0.072),
  0 4.8px 3.4px rgba(0, 0, 0, 0.086),
  0 10px 8px rgba(0, 0, 0, 0.12);
  border-radius: 1%;
 margin: 1em;
 transition: ease 3s;
 
}

@media screen and (min-width: 2100px) {
  .cont {
    margin: 2em;
  }

}
@media screen and (min-width: 2300px) {
  .cont {
    margin: 3em;
  }
  
}
.sink {
  width: 20em;
  height: 12em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  border-radius: 1%;
  cursor: pointer;
  transition: ease 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* color: rgb(219, 111, 169); */
  
}

.sone {
  background-image: url("./assets/images/sink.PNG");
}
.stwo {
  background-image: url("./assets/images/musicblog.PNG");
  
}
.sthree {
  background-image: url("./assets/images/cook.PNG");
}
.sfour {
  background-image: url("./assets/images/meme.PNG");

}

@media screen and (min-width: 760px) {
  .sinkdown:hover {
 
    background-position-y: 13em;
    transition: 0.8s;
    
  }
  .sinkup:hover {
    background-position-y: -12em;
    transition: 0.8s;
  }
  .sinkleft:hover {
    background-position-x: -21.5em;
    transition: 0.8s;
  }
  .sinkright:hover {
    background-position-x: 20em;
    transition: 0.8s;
  }
  
  .sink:hover *  {
    opacity: 1;
    transition: 3s;
    
  } 
  .cont:hover {
    box-shadow: none;
    transition: 2s;
  }
  
  .mobile-header {
    display: none;
  }
  .mobile-btn {
    display: none;
  }
  .mobile-cont {
    display: none;
  }
}


.sink > * {
  opacity: 0;
  transition: ease-out 0.3s;
 }
 a {
  text-decoration: none;
  outline: none;
  color:  rgb(27, 27, 27);
 }


span {
  text-align: center;
}

/* mobile cards */
@media screen and (max-width: 760px) {
.mobile-header {
  text-align: center;
}
.cont span {
  display: none;
}
.mobile-btn {
  text-align: center;
  outline: none;
  background-color: transparent;
  border: none;
  width: 3em;
  height: 3em;
  margin: 1em;
  
 
  justify-self: center;
}
.mobile-cont {
  display: flex;
  justify-content: center;
}
.mobile-web {
  background-image: url("./assets/images/social-media/web.svg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
.mobile-git {
background-image:  url("./assets/images/social-media/git.svg");
background-size: cover;
background-position: center;
opacity: 0.5;
}
.cont {
  box-shadow: none;
}
.sink {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
}
